.card1{
    width: 60%;
    margin: auto;
    margin-top: 300px;
    margin-bottom: 300px;
  }
  .login-form{
    width: 50%;
    margin: auto;
    padding-top: 30px;
  }
  .login-form-button{
    background-color: black;
    color: white;
  }
  .a1{
    color: black;
  }
  .col1{
    text-align : center;
    position: relative;
  }

  .icon{
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .card2{
    width: 60%;
    margin: auto;
    margin-top: 300px;
    margin-bottom: 300px;
    text-align: center;
    height: 359px;
  }

  .spin{
    margin-top: 55%;
  }